
@font-face {
    font-family: 'Quicksand';
    
    src: url('../fonts/Quicksand-Bold.woff') format('woff'),
         url('../fonts/Quicksand-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}